<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
	<image
			imageURL="img/images/001.png"
			thumbURL="img/thumbs/001.png"
			linkURL="img/images/001.png"
			linkTarget="_blank">
		<title></title>
		<caption></caption>
	</image>
	<image
			imageURL="img/images/002.png"
		   	thumbURL="img/thumbs/002.png"
		   	linkURL="img/images/002.png"
		   	linkTarget="_blank">
		<title></title>
		<caption></caption>
	</image>
	<image
			imageURL="img/images/003.png"
			thumbURL="img/thumbs/003.png"
		   	linkURL="img/images/003.png"
		   	linkTarget="_blank">
		<title></title>
		<caption></caption>
	</image>
	<image
			imageURL="img/images/004.png"
			thumbURL="img/thumbs/004.png"
			linkURL="img/images/004.png"
			linkTarget="_blank">
		<title></title>
		<caption></caption>
	</image>
	<image
			imageURL="img/images/005.png"
			thumbURL="img/thumbs/005.png"
			linkURL="img/images/005.png"
			linkTarget="_blank">
		<title></title>
		<caption></caption>
	</image>
</juiceboxgallery>